html {
background: white !important;
}

body {
  font-family: 'Tajawal', sans-serif;
  color: black !important;
}
h1 {
  font-family: 'lato', sans-serif;
}
.side-header {
  color: #ffb71c !important;
  font-family: 'lato', sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.side-text {
  font-size: 18px;
  line-height: 2rem;
}

.custom-padding {
  padding: 0 60px;
}
